@use "../../utils/vars" as v;

$theme-vars: (
    "primary": purple,
    "secondary": green
);

@include v.define($theme-vars);

.somethingElse {
    background-color: v.get("primary");
    display: none;
}
