@use "../utils/colors" as *;
@use "../utils/spacing" as *;
@use "../utils/dimensions" as *;

.app-log-viewer {
    /* background-color: var(--c-1-a10); */
}

.a-log-header {
    height: 60px;
    border-bottom: 1px solid prim-500();
}

.a-log-body {
    /* background-color: #e2e2ee; */
}

.a-log-row {
    min-height: 44px;
    padding: 5px 0px 5px 10px;
    padding: 5px 10px;
    border-bottom: 1px solid prim-500();

    color: white;
    position: relative;

    &:hover .a-log-row-actions {
        display: flex;
    }

    &:hover .a-log-row-date {
        color: white;
    }
}

.a-log-row:nth-child(odd) {
    background: rgba(13, 2, 8, 0.225);
}

.a-log-row:nth-child(even) {
    background: rgba(0, 0, 0, 0.325);
}

.a-log-row:hover {
    background-color: sec-700();
}

.a-log-row-date {
    min-width: 80px;
    font-size: 12px;

    display: flex;
    align-items: center;

    color: gray;
}

.a-log-row-text {
    /* Overflow is tricky. Always test any changes here */
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto 0 auto 7px;
    flex: 1;
}

.a-log-row-internal-separator {
    margin-left: 7px;
    border-left: 1px solid sec-600();
}

.a-log-row-actions {
    right: 0;
    margin-right: -5px;
    padding-left: 5px;
    top: 0px;
    height: 100%;
    display: none;

    justify-content: center;
    align-items: center;
    align-self: center;
}

.a-lr-action-entry {
    height: 100%;
    width: 30px;

    .ui-icon {
        font-size: 18px;
        padding: 0px 4px;
        height: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &:hover .ui-icon {
        cursor: pointer;
        text-shadow: 0 0 2px #fff, 0 0 0px #fff, 0 0 0px #fff;
    }
}

.a-lr-action-entry + .a-lr-action-entry {
    margin-left: 0px;
}
