@use "button";
@use "dropdown";
@use "form";
@use "text_input";


/*------------------------------------------------------------------------------
UI
------------------------------------------------------------------------------*/

.ui-row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.ui-col {
    display: flex;
    flex-direction: column;
}

/* UI > Class helpers */

.ui-align-items {
    align-items: center;
}

.ui-width-fill {
    width: 100%;
}

.ui-height-fill {
    height: 100%;
}

.ui-center-xy {
    margin: 0 auto;
}

.ui-flex-fill {
    flex: 1;
}

.ui-flex-grow-1 {
    flex-grow: 1;
}

.ui-hide {
    display: none;
}

.ui-cursor-pointer {
    cursor: pointer
}

// TODO: Move to a UI.Spinner component
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
