receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  otlphttp:
    endpoint: http://loki:3100/otlp

  prometheus:
    endpoint: 0.0.0.0:9464
    namespace: "otel"

service:
  telemetry:
    logs:
      level: "debug"

  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]



