services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - /he2_infra/grafana:/var/lib/grafana
    networks:
      - observability

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      - observability

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/config.yml
    volumes:
      - ./loki:/etc/loki:ro
      - /he2_infra/loki:/loki
    networks:
      - observability

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    ports:
      - "3200:3200"
      - "4319:4318"
    command: -config.file=/etc/tempo/tempo.yml
    volumes:
      - ./tempo:/etc/tempo:ro
      - /he2_infra/tempo:/tmp/tempo
    networks:
      - observability

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector/config.yml"]
    volumes:
      - ./otel-collector:/etc/otel-collector:ro
    ports:
      - "4318:4318"
      - "9464:9464"
    networks:
      - observability

networks:
  observability:

