/*------------------------------------------------------------------------------
UI
------------------------------------------------------------------------------*/

.ui-row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.ui-col {
    display: flex;
    flex-direction: column;
}

/* UI > Class helpers */

.ui-align-items {
    align-items: center;
}

.ui-width-fill {
    width: 100%;
}

.ui-height-fill {
    height: 100%;
}

.ui-center-xy {
    margin: 0 auto;
}

.ui-flex-fill {
    flex: 1;
}

.ui-flex-grow-1 {
    flex-grow: 1;
}

.ui-hide {
    display: none;
}

.ui-cursor-pointer {
    cursor: pointer
}

/*------------------------------------------------------------------------------
-- UI.Button
------------------------------------------------------------------------------*/

.ui-button {
    flex: 1;
    border-radius: .375em;
    /* border: 1px solid #000; */
    cursor: pointer;
}

.ui-button:hover {
    box-shadow: none;
}

.ui-button-primary {
    background-color: #4361ee;
    color: #fff;
    box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 10px 20px -10px #4361ee99;
}

.ui-button-primary-outline {
    color: #4361eedd;
    border: 1px solid #4361eeaa;
    box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 10px 20px -10px #4361ee99;
}

.ui-button-primary-outline:hover {
    background-color: #4361ee;
    color: #fff;
}

.ui-button-landi, .ui-button-ionly
{
    justify-content: center;
}

.ui-button-landi .ui-icon {
    padding-right: 7px;
}

/*------------------------------------------------------------------------------
-- UI.Input (TODO: Renamed to TextInput?)
------------------------------------------------------------------------------*/

.ui-input-text-row {
    border: 1px solid #0000001a;
    border-radius: .375em;
    flex: 1;
}

.ui-input-text-row:hover {
    border: 1px solid #0000005a;
}

.ui-input-text-row:focus-within {
    border: 1px solid #000000aa;
}

.ui-input-text-row .ui-icon {
    align-self: center;
    color: #00000066;
    padding: 0 5px;
}

.ui-input-text {
    width: 100%;
    border-radius: .375em;
    padding: 5px;
    color: #000000cc;
}

.ui-input-text:focus {
    /* border: 1px solid #0000005a; */
    outline: none;
}

.ui-input-text-problem {
    border: 1px solid red;
}

.ui-input-text-desc {
    font-size: 12px;
}

.ui-input-text-desc-problem {
    color: red;
}

.ui-input-text-desc-info {
    color: #00000099;
}

