/*------------------------------------------------------------------------------
UI
------------------------------------------------------------------------------*/

.ui-row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.ui-col {
    display: flex;
    flex-direction: column;
}

.ui-something {
    font-size: 40px;
}

/* UI > Class helpers */

.ui-align-items {
    align-items: center;
}

.ui-width-fill {
    width: 100%;
}

.ui-height-fill {
    height: 100%;
}

.ui-center-xy {
    margin: 0 auto;
}

.ui-flex-fill {
    flex: 1;
}

.ui-flex-grow-1 {
    flex-grow: 1;
}

.ui-hide {
    display: none;
}

.ui-cursor-pointer {
    cursor: pointer
}

/*------------------------------------------------------------------------------
-- UI.Badge
------------------------------------------------------------------------------*/

.ui-badge {
}

.ui-badge .ui-span {
    background-color: #3b82f644;
    color: #000000ee;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
}

/*------------------------------------------------------------------------------
-- UI.Button
------------------------------------------------------------------------------*/

.ui-button {
    flex: 1;
    border-radius: .375em;
    /* border: 1px solid #000; */
    cursor: pointer;
}

.ui-button:hover {
    box-shadow: none;
}

.ui-button-primary {
    background-color: #4361ee;
    color: #fff;
    box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 10px 20px -10px #4361ee99;
}

.ui-button-primary-outline {
    color: #4361eedd;
    border: 1px solid #4361eeaa;
    box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 10px 20px -10px #4361ee99;
}

.ui-button-primary-outline:hover {
    background-color: #4361ee;
    color: #fff;
}

.ui-button-landi, .ui-button-ionly
{
    justify-content: center;
}

.ui-button-landi .ui-icon {
    padding-right: 7px;
}

/*------------------------------------------------------------------------------
-- UI.Form
------------------------------------------------------------------------------*/

.ui-form-steps {
    /* background-color: pink */
}

.ui-form-step {
    /* background-color: gray; */
    height: 50px;
    border: 1px solid #00000011;
    border-radius: 1rem;
    padding: 10px;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}

.ui-form-step:hover {
    background-color: #00000011;
}

.ui-form-step-doing {
    border-color: #cadefd;
}

.ui-form-step-done {
    border-color: #cadefd;
}

.ui-form-step-doing:hover {
    background-color: #fff;
}

.ui-form-step-number {
    height: 24px;
    width: 24px;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.ui-form-step-number-doing {
    color: #00000088;
    background-color: #cadefd;
}

.ui-form-step-number-todo {
    color: #00000088;
    background-color: #00000011;
}

.ui-form-step-number-done {
    color: #00000088;
    background-color: #cadefd;
    /* border: 1px solid #00000033; */
}

.ui-form-step-label {
    padding: 0 6px;
    align-self: center;
}

.ui-form-step-label {
    padding: 0 6px;
    align-self: center;
}

/* Questions */

.ui-form-questions-block > .ui-span {
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.ui-form-question-block {
    background-color: #fff;
    border: 1px solid #00000033;
    border-radius: .5rem;
    padding: 20px 16px;
    margin-bottom: 12px;
}

.ui-form-question + .ui-form-question {
    margin-top: 16px;
}

.ui-form-questions-submit {
    width: 200px;
    height: 36px;
    align-self: flex-end;
}

/*------------------------------------------------------------------------------
-- UI.Input (TODO: Renamed to TextInput?)
------------------------------------------------------------------------------*/

.ui-input-text-row {
    border: 1px solid #0000001a;
    border-radius: .375em;
    flex: 1;
}

.ui-input-text-row:hover {
    border: 1px solid #0000005a;
}

.ui-input-text-row:focus-within {
    border: 1px solid #000000aa;
}

.ui-input-text-row .ui-icon {
    align-self: center;
    color: #00000066;
    padding: 0 5px;
}

.ui-input-text {
    width: 100%;
    border-radius: .375em;
    padding: 5px;
    color: #000000cc;
}

.ui-input-text:focus {
    /* border: 1px solid #0000005a; */
    outline: none;
}

.ui-input-text-problem {
    border: 1px solid red;
}

.ui-input-text-desc {
    font-size: 12px;
}

.ui-input-text-desc-problem {
    color: red;
}

.ui-input-text-desc-info {
    color: #00000099;
}


/*------------------------------------------------------------------------------
-- UI.Layout
------------------------------------------------------------------------------*/

.ui-layout-twopane-left {
    max-width: 300px;
}

.ui-layout-twopane-right {
    margin-left: 20px;
    background-color: gray;
}

/*------------------------------------------------------------------------------
-- UI.Table
------------------------------------------------------------------------------*/


.ui-tbl-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    white-spacing: nowrap;
}

.ui-tbl {
    width: 100%;
    table-layout: fixed;
}

.entry-ms {
    /* background-color: pink; */
}

/* Header */

.ui-tbl-hdr {
    background-color: #f6f8fa;
    height: 40px;
}

.ui-tbl-hdr-col {
    padding: 0 10px;
    position: relative;
}

.ui-tbl-hdr-col:after {
    content: '';
    height: 20px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #00000066;
}

.ui-tbl-hdr-col:first-child:after {
    background-color: #00000022;
}

/* Hide bar for width fill column */
.ui-tbl-hdr-col:last-child:after {
    display: none;
}

.ui-tbl-hdr-col .ui-span {
    display: flex;
}


/* Body */

.ui-tbl-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    height: 40px;

    border-bottom: 1px solid #e0e6ed66;
}

.ui-tbl-row:nth-child(2n) {
    background-color: #f6f8faaa;
}

.ui-tbl-cell-ms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-tbl-cell-ms input {
    /* background-color: pink; */
    height: 1.50rem;
    width: 1.50rem;

    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: .25rem;

    appearance: none;
}

.ui-tbl-cell-ms input:checked {
    background-color: #999;
    border: 2px solid #ddd;
    appearance: none;
}
