@use "../utils/colors" as *;
@use "../utils/spacing" as *;
@use "../utils/dimensions" as *;

#hud-connection-info {
    position: absolute;
    left: d-hud-ci-s-left();
    display: flex;
    align-items: center;
    height: d-hud-ci-height();
    top: d-hud-ci-s-top();
    width: d-hud-ci-width();
    border: 1px solid red;
}

.hud-ci-gateway-area {
    width: 200px;
    justify-content: center;
}

.hud-ci-vpn-area {
    width: 100px;
    justify-content: center;
}

.hud-ci-endpoint-area {
    width: 200px;
}

.hud-ci-side-area {
    width: 35px;
}

.hud-ci-server-gateway {
}

.hud-ci-server-endpoint {
    /* align-items: center; */
}

.hud-ci-server-selector {
    background-color: yellow;
    width: 50px;
}

.hud-connection-info-selector {
    position: absolute;
    left: calc(50% - var(--hud-header-width) / 2);
    width: var(--hud-header-width);
    height: 200px;
    top: calc(20px + var(--hud-header-height));
    border: 1px solid red;
    z-index: 999;
    background-color: #ccc;
}
