@use "../utils/colors" as *;
@use "../utils/spacing" as *;
@use "../utils/dimensions" as *;


#hud-systray {
    position: absolute;
    bottom: d-hud-systray-s-bottom();
    right: d-hud-systray-s-right();
    width: d-hud-systray-width();
    height: d-hud-systray-height();
    padding: s-2();
}


.hud-st-left-area {
    flex: 1;
    margin-right: 10px;
    border: 1px solid #fff;
}

.hud-st-bottom-area {
    flex: 1;
    align-items: center;
}

.hud-st-apps-area {
    border: 1px solid orange;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.hud-st-apps-entry-area {
    .ui-icon {
        // font-size: 20px;
    }

    &:hover {
        color: prim();
    }
}

.hud-st-apps-entry-area + .hud-st-apps-entry-area{
    margin-left: s-1();
}

.hud-st-clock-area {
    border: 1px solid sec();
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-family: "Orbitron", serif;
}

.hud-st-heat-area {
    flex: 1;
    justify-content: flex-end;
    margin-right: s-1();
}

.hud-st-trace-area {
    justify-content: flex-end;
    border: 1px solid red;
}

.hud-st-trace-notrace {
}
